<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            margin-top: 50px;
        }

        h1 {
            color: #4CAF50;
        }
    </style>
</head>
<body>
<h1>Registration Successful!</h1>
<p>Welcome, <b th:text="${name}"></b>! Your registration has been completed successfully.</p>
</body>
</html>
